// ----------------------------------------------------------------------
	// Font Sizes
// ----------------------------------------------------------------------

$htmlFontSize: 14px;
$fontSize11:0.786rem; /*11px*/
$fontSize12:0.857rem; /*12px*/
$fontSize13: 0.95rem; /*13px*/
$fontSize14:1rem ; /*14px*/
$fontSize15: 1.071rem; /*15px*/
$fontSize16:1.143rem;/*16px*/
$fontSize18:1.286rem;/*18px*/
$fontSize20:1.429rem;/*20px*/


$h1:2rem;
$h2:1.857rem;
$h3:1.714rem;
$h4:1.571rem;
$h5:1.429rem;
$h6:1.286rem;

// ----------------------------------------------------------------------
	// Colors
// ----------------------------------------------------------------------

$red:#df0022;
$black:#000000;
$white:#FFFFFF;
$grayColor: #f9f9f9;
$fontColor:#727272;
$borderColor: #e0e0e0;
$textColor: #3c434e;


